
@{
    // ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
<head>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>


    <script src="~/MyLibrary/Trilateration/Beacon.js"></script>
    <script src="~/MyLibrary/Trilateration/sketch.js"></script>
    @*<script src="~/MyLibrary/Trilateration/p5.min.js"></script>*@


</head>
<body>

    <button id="show" class="btn btn-danger"> Göster</button>
    <button id="start" class="btn btn-success"> Baslat</button>
</body>
</html>


@section Scripts {
   
}

