
@{
    // ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>


    <script src="~/MyLibrary/Trilateration/Beacon.js"></script>
    <script src="~/MyLibrary/Trilateration/sketch.js"></script>


    

</head>
<body>

    <button id="show" class="btn btn-danger"> Göster</button>
    @*<button id="start" class="btn btn-success"> Baslat</button>*@
</body>
</html>
<script  src="~/kalman-filter/docs/dist/kalman-filter.js"></script>


<script> 
   
</script>
@section Scripts {
   
}

